<template name = 'fullComplaint'>
    <div class="complaintDetalis">
        <h6 class="{{priority}}"> Status: <span class="issue-meta">{{priority}}</span> {{ status}}</h6>
  <h2 class="{{priority}}">{{issue}}</h2>
   <p class="italic">{{name}} opened the complaint {{fromNow lastUpdate}}</p>
   <div class="description">{{ description }}</div>
    </div>
    <div class="comments">
        {{#each Comments}}
        <div class="comment">
                {{> commentModel}}
        </div>
        {{/each}}
    </div>
    
    {{#if currentUser }}
    <div class="commentsForm"><br />
      {{#autoForm resetOnSuccess=false collection="Comments" schema=commentSchema id="commentForm" type="insert"}}
  <fieldset>
    <legend>Add comment</legend>
    {{> afQuickField name="comment" rows=10}}
    {{> afQuickField name="cost"}}
    <span style="display: none">{{> afQuickField name='complaint_id' value=_id}} </span>

    <div>
      <button type="submit" class="btn btn-primary green" name="status" value="resolve">Resolve</button>
      <button type="submit" class="btn btn-primary" name="status" value="comment">Comment</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </fieldset>
  {{/autoForm}}
    
    <br />
        </div>
    {{/if}}
    
</template>
