<template name="homePage">
    <h1 class="title">Dashboard</h1>

    {{#if currentUser }}
    <h2>Complaints</h2>
    <div class="complaints">
        {{#each Complaints}}
        <div class="complaint">
            {{> complaintModel}}
        </div>
        {{/each}}
    </div>

    <h2>Comments</h2>
    <div class="comments">
        {{#each Comments}}
        <div class="comment">
            {{{createLinkComplaint complaint_id}}}
            {{> commentModel}}
        </div>
        {{/each}}
    </div>

    {{else}}
    <div class="subtitle">Log in to see all your posts and comments.</div>
    {{/if}}

</template>
